* {
    margin: 0;
    padding: 0;
}

.portada_imagen { 
    width: 100%;
    height: 50vh;
    object-fit: cover;

}
h1 {
    font-size: 50px;
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan;
}

.datos_datos {
    font-size: 25px;
    color: red;
}
.enlace_formulario {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.enlaces_nav {
    display: flex;
    font-size: 30px;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    gap:  25px;
    padding: 20px;
    list-style: none;
    margin: 0;


}
.enlaces_nav a {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 6px;
    cursor: pointer;
    color: blue;
    text-decoration: none;
    border: solid;
    background-color:lightblue;

}


.container {
    display: grid;
    grid-template-rows: 600px auto 200px;
    gap: 10px;
    
}
 /* pagina servicios */
.seguro {
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    border: solid blue;
    margin: 20px;
    background-color: lightcyan;

}
.seguro img {
    height: 180px;
    width: 220px;
    object-fit: cover;

}

.textoseguro {
    display: flex;
    flex-direction: column;
}
.botonAtencion {      
  margin: 30px 0;           
}
.botonAtencion a {
    display: inline-block;
    padding: 20px 15px;
    color: blue;
    background-color: lightblue;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    bottom: 35px;
    right: 5%;


}
/*Texto principal de las paginas*/
.textoPrincipal {
    display: flex;
    border: solid;
    flex-direction: column;
    margin: 15px;
}
.subTextoPrincipal {
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
}

/* fotter */
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    padding: 20px;
    border: 2px solid black; 
    border-color: black;
    gap: 40px;

}

.footer img {
    border: 3px solid black;
    border-radius: 25px;
    max-width: 150px;      
    height: auto;    
}
.redesSociales {
    display: flex;
    flex-direction: column;      
    align-items: flex-start;
    gap: 5px;                    
}
.redesSociales a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    margin: 5px;
    background-color: aqua;
    border: solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;

}

.tituloFooter {
    color: blue;
}











