* {
    margin: 0;
    padding: 0;
}

.portada_imagen { 
    width: 100%;
    height: 50vh;
    object-fit: cover;

}
h1 {
    font-size: 50px;
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan;
}
.redes_sociales {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: violet;
    font-style:oblique;
}
.datos_datos {
    font-size: 25px;
    color: red;
}
.enlace_formulario {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.enlaces_nav {
    display: flex;
    font-size: 30px;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    gap:  25px;
    padding: 20px;
    list-style: none;
    margin: 0;


}
.enlaces_nav a {
    display: block;
    padding: 15px 25px;
    border-radius: 6px;
    cursor: pointer;
    color: blue;
    text-decoration: none;

}


.container {
    display: grid;
    grid-template-rows: 600px auto 100px;
    gap: 10px;
    
}

.seguro {
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 20px;
    padding: 20px;

}
.seguro img {
    height: 180px;
    width: 220px;
    object-fit: cover;

}

.textoseguro {
    display: flex;
    flex-direction: column;
}