* {
    margin: 0;
    padding: 0;
}

.portada_imagen {
    
    object-fit: cover;

}

/*imagenes de inicio */
.imagenesInicio {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.imagenesInicio img {
    max-width: 300px;
    height: auto; 
}

h1 {
    font-size: 50px;
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan;
}

.datos_datos {
    font-size: 25px;
    color: red;
}

.enlace_formulario {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.enlaces_nav {
    display: flex;
    font-size: 30px;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    list-style: none;
    margin: 0;


}

.enlaces_nav a {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 6px;
    cursor: pointer;
    color: blue;
    text-decoration: none;
    border: solid;
    background-color: lightblue;

}


.container {
    display: grid;
    grid-template-rows: 600px auto 200px;
    gap: 10px;

}

/* pagina servicios */
.seguro {
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    border: solid blue;
    margin: 20px;
    background-color: lightcyan;

}

.seguro img {
    height: 180px;
    width: 220px;
    object-fit: cover;

}

.textoseguro {
    display: flex;
    flex-direction: column;
}

/* Boton de formulario */
.botonAtencion {
    margin: 30px 0;
    border: 2px solid black;
}

.botonAtencion a {
    display: inline-block;
    padding: 20px 15px;
    color: blue;
    background-color: lightseagreen;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    bottom: 35px;
    right: 5%;



}

/*Texto principal de las paginas*/
.textoPrincipal {
    display: flex;
    border: solid blue;
    flex-direction: column;
    margin: 15px;
}

.subTextoPrincipal {
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
}

.seccionDatos {
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;

}

/* fotter */
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    padding: 20px;
    border: 2px solid black;
    border-color: black;
    gap: 40px;

}

.footer img {
    border: 3px solid black;
    border-radius: 25px;
    max-width: 150px;
    height: auto;
}

.redesSociales {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.redesSociales a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    margin: 5px;
    background-color: aqua;
    border: solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;

}

/* Pagina de formulario */

.formularioContacto {
    display: flex;
    justify-content: center;
    background-color: beige;
    padding: 25px 25px;
}

.tituloFormulario {
    border: solid black;
    margin: 20px 20px;
}

.tituloFormulario h1 {
    text-align: center;
    background-color: lightblue;

}

.datosFormulario {
    display: flex;
    flex-direction: column;
    font-size: large;
    gap: 20px;

}

.datosFormulario label {
    display: block;
    margin: 10px;
}

.datosFormulario input,
.datosFormulario select,
.datosFormulario textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid black;
}

/* Esto no lo tengo claro, como saber si esta bien ajustado y que es lo que tengo que ajustar para 
pantallas chicas*/
@media (max-width: 600px) {
    .enlaces_nav {
        flex-direction: column;
        gap: 10px;
        font-size: 20px;
    }

    .portada_imagen {
        height: 60vh;
    }    
       

    .footer {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .formularioContacto {
        padding: 10px;
        flex-direction: column;
    }

    .formularioContacto h1 {
        font-size: 20px;
        flex-direction: column ;
    }
}