@import "base/variables";
@import "base/reset";
@import "base/global";

@import "layout/header";
@import "layout/footer";


@import "pages/formulario";
@import "pages/contacto";
@import "pages/servicios";
@import "pages/sobrenosotros";
@import "pages/inicio"

