/* Pagina de formulario */

.formularioContacto {
    display: flex;
    justify-content: center;
    background-color: $fondo-color-formulario; 
    padding: 25px 25px;
}

.tituloFormulario {
    border: solid black;
    margin: 20px 20px;
}

.tituloFormulario h1 {
    text-align: center;
    background-color: $fondo-color-celeste;

}

.datosFormulario {
    display: flex;
    flex-direction: column;
    font-size: large;
    gap: 20px;

}

.datosFormulario label {
    display: block;
    margin: 10px;
}

.datosFormulario input,
.datosFormulario select,
.datosFormulario textarea {
    padding: 10px;
    width: 100%;
    border: $borde-fino;
}