.imagenesInicio {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.imagenesInicio img {
    max-width: 300px;
    height: auto; 
}