.imagenesInicio {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;

 
  @media (max-width: 768px) and (min-width: 376px) {
    flex-direction: column;
    gap: 8px;
    padding: 8px;
  }

  
  @media (max-width: 375px) {
    flex-direction: column;
    gap: 5px;
    padding: 5px;
  }
}

.imagenesInicio img {
  max-width: 300px;
  height: auto;

  
  @media (max-width: 768px) and (min-width: 376px) {
    max-width: 220px;
  }

  
  @media (max-width: 375px) {
    max-width: 150px;
  }
}
