.seguro {
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  border: $borde-texto-principal;
  margin: 20px;
  background-color: $fondo-color-p;

  
  @media (max-width: 768px) and (min-width: 376px) {
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    margin: 15px;
  }

  
  @media (max-width: 375px) {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 10px;
  }
}

.seguro img {
  height: 180px;
  width: 220px;
  object-fit: cover;

 
  @media (max-width: 768px) and (min-width: 376px) {
    width: 180px;
    height: 140px;
  }

  
  @media (max-width: 375px) {
    width: 140px;
    height: 110px;
  }
}

.textoseguro {
  display: flex;
  flex-direction: column;


  @media (max-width: 768px) and (min-width: 376px) {
    align-items: center;
    text-align: center;
  }

  
  @media (max-width: 375px) {
    align-items: center;
    text-align: center;
  }
}
