.seguro {
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    border: $borde-texto-principal;
    margin: 20px;
    background-color: $fondo-color-p;

}

.seguro img {
    height: 180px;
    width: 220px;
    object-fit: cover;

}

.textoseguro {
    display: flex;
    flex-direction: column;
}