/* fotter */
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $fondo-color-celeste;
    padding: 20px;
    border: $borde-grueso;
    gap: 40px;

}

.footer img {
    border: $borde-grueso;
    border-radius: 25px;
    max-width: 150px;
    height: auto;
}

.redesSociales {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.redesSociales a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    margin: 5px;
    background-color: aqua;
    border: $borde-grueso;
    font-family: $fuente-texto;
    font-size: large;

}