/* fotter */
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    padding: 20px;
    border: 2px solid black;
    border-color: black;
    gap: 40px;

}

.footer img {
    border: 3px solid black;
    border-radius: 25px;
    max-width: 150px;
    height: auto;
}

.redesSociales {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.redesSociales a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    margin: 5px;
    background-color: aqua;
    border: solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;

}