.portada_imagen {
  width: 100%;
  height: 50vh;
  object-fit: cover;

  
  @media (max-width: 768px) and (min-width: 376px) {
    height: 40vh;
  }

  
  @media (max-width: 375px) {
    height: 30vh;
  }
}

.enlaces_nav {
  display: flex;
  font-size: 30px;
  background-color: $fondo-color-enlaces;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  list-style: none;
  margin: 0;

  @media (max-width: 768px) and (min-width: 376px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    font-size: 24px;
    padding: 15px;
    justify-items: center;
  }

  @media (max-width: 375px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    font-size: 18px;
    padding: 10px;
    justify-items: center;
  }

  a {
    display: block;
    width: 100%;        
    padding: 12px 0;    
    border-radius: 6px;
    cursor: pointer;
    color: $enlace-color;
    text-decoration: none;
    border: solid;
    background-color: $fondo-color-celeste;
    text-align: center; 
  }
}








