.portada_imagen {
  width: 100%;
  height: 50vh;
  object-fit: cover;

  
  @media (max-width: 768px) and (min-width: 376px) {
    height: 40vh;
  }

  
  @media (max-width: 375px) {
    height: 30vh;
  }
}

.enlaces_nav {
  display: flex;
  font-size: 30px;
  background-color: $fondo-color-enlaces;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 20px;
  list-style: none;
  margin: 0;

  li {
    list-style: none;
  }

  a {
    display: block;
    width: 150px;        
    text-align: center;
    padding: 15px 0;       
    border-radius: 6px;
    color: $enlace-color;
    text-decoration: none;
    border: solid 1px black;
    background-color: $fondo-color-celeste;
    font-weight: bold;
  }

  @media (max-width: 768px) and (min-width: 376px) {
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content: center;

    a {
      width: 120px;        
      padding: 12px 0;
      font-size: 18px;
    }
  }

  @media (max-width: 375px) {
    flex-wrap: wrap;
    justify-content: center;

    a {
      width: 100px;       
      padding: 10px 0;
      font-size: 16px;
    }
  }
}











