.portada_imagen {
  width: 100%;
  height: 50vh;      
  object-fit: cover;
  display: block;
  max-width: 100%;
  margin: 0 auto;

  @media (max-width: 768px) and (min-width: 376px) {
    height: 60vh;
    object-position: center 20%;
  }

  @media (max-width: 375px) {
    height: auto;
    object-fit: contain;
    object-position: center center;
  }
}

// botones del menu
.enlaces_nav {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 25px;
  list-style: none;
  margin: 0;

  li {
    list-style: none;
  }

  a {
    display: block;
    padding: 35px 25px; 
    border-radius: 6px;
    border: $borde-fino;
    background-color: $fondo-color-celeste;
    color: $enlace-color;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: $fuente-tamanio-p;
    box-sizing: border-box;
    min-width: 120px;   
    min-height: 50px;  
    
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
    background-color: scale($fondo-color-celeste, 5%);  
    border-color: $enlace-color; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    }
    &:active {
    background-color: scale($fondo-color-boton, 5%);
    color: scale(blue, 15%);
    text-shadow: 0 0 8px rgba(0,0,255,0.4);
    }

  }
  @media (max-width: 768px) {

  .enlaces_nav {
    flex-direction: column;
    align-items: center;
  }

  .enlaces_nav a {
    width: 80%;
    margin: 0 auto;
  }

  }

 
  
}

.navbar {
  padding: 0;
}























