.portada_imagen {
    width: 100%;
    height: 50vh;
    object-fit: cover;

}
.enlaces_nav {
    display: flex;
    font-size: 30px;
    background-color: $fondo-color-enlaces;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    list-style: none;
    margin: 0;


}
.enlaces_nav a {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 6px;
    cursor: pointer;
    color: $enlace-color;
    text-decoration: none;
    border: solid;
    background-color: $fondo-color-celeste;
;

}


