.portada_imagen {
  width: 100%;
  height: 50vh;
  object-fit: cover;

  
  @media (max-width: 768px) and (min-width: 376px) {
    height: 40vh;
  }

  
  @media (max-width: 375px) {
    height: 30vh;
  }
}

.enlaces_nav {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 25px;
  list-style: none;
  margin: 0;

  li {
    list-style: none;
  }

  a {
    display: block;
    padding: 35px 25px; 
    border-radius: 6px;
    border: $borde-fino;
    background-color: $fondo-color-celeste;
    color: $enlace-color;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: $fuente-tamanio-p;
  }

  
  @media (max-width: 768px) and (min-width: 376px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 15px;

    a {
      width: 100%;       
      max-width: 140px;   
      padding: 12px 0;
      font-size: 18px;
    }
  }

 
  @media (max-width: 375px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;

    a {
      width: 100%;        
      max-width: 120px;   
      padding: 10px 0;
      font-size: 16px;
    }
  }
}
















