.portada_imagen {
  width: 100%;
  height: 50vh;
  object-fit: cover;

  
  @media (max-width: 768px) and (min-width: 376px) {
    height: 40vh;
  }

  
  @media (max-width: 375px) {
    height: 30vh;
  }
}
// botones del menu
.enlaces_nav {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 25px;
  list-style: none;
  margin: 0;

  li {
    list-style: none;
  }

  a {
    display: block;
    padding: 35px 25px; 
    border-radius: 6px;
    border: $borde-fino;
    background-color: $fondo-color-celeste;
    color: $enlace-color;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: $fuente-tamanio-p;
    box-sizing: border-box;
    min-width: 120px;   
    min-height: 50px;    
  }

 
  @media (max-width: 768px) and (min-width: 376px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    a {
      width: 100%;
      height: 60px;       
      padding: 0;         
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      box-sizing: border-box;
    }
  }

  
  @media (max-width: 375px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    a {
      width: 100%;
      height: 55px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      box-sizing: border-box;
    }
  }
}


















