.portada_imagen {
   
    object-fit: cover;

}

h1 {
    font-size: 50px;
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan;
}

.enlaces_nav {
    display: flex;
    font-size: 30px;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    list-style: none;
    margin: 0;


}

.enlaces_nav a {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 6px;
    cursor: pointer;
    color: blue;
    text-decoration: none;
    border: solid;
    background-color: lightblue;

}

.container {
    display: grid;
    grid-template-rows: 600px auto 200px;
    gap: 10px;

}


.datos_datos {
    font-size: 25px;
    color: red;
}


.enlace_formulario {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.botonAtencion {
    margin: 30px 0;
    border: 2px solid black;
}

.botonAtencion a {
    display: inline-block;
    padding: 20px 15px;
    color: blue;
    background-color: lightseagreen;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    bottom: 35px;
    right: 5%;



}

/*Texto principal de las paginas*/
.textoPrincipal {
    display: flex;
    border: solid blue;
    flex-direction: column;
    margin: 15px;
}

.subTextoPrincipal {
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
}

.seccionDatos {
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;

}