

h1 {
    font-size: $fuente-tamanio-h1;
    background-color: $fondo-color-h1;
    font-family: $fuente-texto;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: $fuente-tamanio-p;
    font-family: $fuente-texto;
    background-color: $fondo-color-p;
}





.container {
    display: grid;
    grid-template-rows: 600px auto 200px;
    gap: 10px;

}


.datos_datos {
    font-size: 25px;
    color: red;
}


.enlace_formulario {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.botonAtencion {
    margin: 30px 0;
    border: $borde-grueso;
}

.botonAtencion a {
    display: inline-block;
    padding: 20px 15px;
    color: blue;
    background-color: $fondo-color-boton;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    font-family: $fuente-boton; 
    position: fixed;
    bottom: 35px;
    right: 5%;



}

/*Texto principal de las paginas*/
.textoPrincipal {
    display: flex;
    border: $borde-texto-principal;
    flex-direction: column;
    margin: 15px;
}

.subTextoPrincipal {
    font-family: $fuente-texto;
    padding: 15px;
}

.seccionDatos {
    font-family: $fuente-texto;
    padding: 15px;

}