//
$fuente-texto:'Times New Roman', Times, serif; 
$fuente-tamanio-h1: 50px; 
$fuente-tamanio-p: 20px;


//bordes
$borde-texto-principal: solid blue;
$borde-grueso: 2px solid black; 
$borde-fino: 1px solid black;

// colores 
$fondo-color-p: lightcyan;
$fondo-color-enlaces:  aliceblue;
$fondo-color-celeste: lightblue;
$fondo-color-formulario: beige;

$enlace-color: blue;



//boton
$fondo-color-boton: lightseagreen;
$fuente-boton: Georgia, 'Times New Roman', Times, serif;

//fuente color
$fuente-color: rgb(4, 4, 83);



